@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


/* /* Paleta de colores *
marron: D4A373
beige: FAEDCD
nude: FEFAE0
verde: E9EDC9 */


* {
    margin: 0px;
    padding: 0px;
    font-family: 'raleway', sans-serif;
}

.header-flex {
    display: flex;
    flex-direction: column;
    background-color: #D4A373;
    align-items: center;
    width: 100vw;

}

.header-flex ul {
    display: flex;
    list-style: none;
    width: 100vw;
    justify-content: space-around;
}


.img-logo {
    width: 150px;

}


.btn a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* contenido principal */

.banner-hero {
    background-image: url(https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    height: 80vh;
    background-size: cover;
    background-position: center;
    transition: height 3s;
}

.banner-hero:hover {
    height: 100vh;
}

.banner-hero {
    text-align: center;
    position: relative;
    top: 50%;
}

/* MAIN */


.img-secciones img {
    width: 80vw;
    justify-content: center;
    border-radius: 5%;

}

.img-secciones {
    display: inline;
    position: center;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 10px;
}

article {
    margin-top: 15px;
}

/* GRID */

.seccion-grid {
    display: grid;
    justify-content: center;


}

.seccion-grid h1 {
    text-align: center;
    justify-content: center;
}



/* footer */
.container {
    display: grid;
    background-color: #FAEDCD;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Goals About-us Comunity";
}

.Goals {
    grid-area: Goals;
}

.About-us {
    grid-area: About-us;
}

.Comunity {
    grid-area: Comunity;
}


.goal-smar {
    background-color: bisque;
    border: 1px;
}

/* nutrition page */

.image-fondo {
    background-image: url(https://images.unsplash.com/photo-1505576399279-565b52d4ac71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: all 3s;
}


.contenedor-grid {
    display: grid;
    background-color: #FAEDCD;
    opacity: 50%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nutri-div"
        "dietas-div"
        "form-div";
}




@media (min-width:768px) {
   

    .body-center {
        width: 100vw;
    }



          .img-secciones {
            display: inline;
            position: center;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 30%;
        }

    .img-secciones img {
        width: 60vw;
        justify-content: center;

    
    }
    .seccion-grid h1{
        text-align: center;
        margin-left: 20%;
    }
}

@media (min-width:1024px) {
    .seccion-grid{
        justify-content: center;
        max-width: 60vw;
    }
    .img-secciones {
        display: inline;
        position: center;
        margin-left: 20%;
        margin-right: -5%;
        margin-top: 30%;
    }
.img-secciones img{
    width: 90vw;
}
    }
